.data-picker {
     background: #fff
          url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)
          97% 50% no-repeat;
     color: black;
}
.data-picker::-webkit-inner-spin-button {
     display: none;
}
.data-picker::-webkit-calendar-picker-indicator {
     opacity: 0;
}
